@import "shared";

:host {
  display: block;
  align-self: start;
  background-color: $theme__light--list;
  color: #000;
}

.header {
  display: flex;
  justify-content: space-between;
}

.cards {
  display: grid;
  row-gap: 1rem;
  padding: 0 1rem;
}
