@font-face {
  font-family: "Lato";
  font-weight: normal;
  src: url("/assets/fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: bold;
  src: url("/assets/fonts/Lato-Bold.ttf") format("truetype");
}
